# Configurações para Ollama (local)
OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL_LOCAL=llama3.2
VISION_MODEL_LOCAL=llama3.2-vision
EMBEDDING_MODEL_LOCAL=nomic-embed-text

# Para usar API externa (ex: Gemini)
USE_EXTERNAL_API=false # Mude para 'true' para usar a API externa
GEMINI_API_KEY="SUA_CHAVE_API_GEMINI"
EXTERNAL_LLM_MODEL=gemini-1.5-flash
EXTERNAL_EMBEDDING_MODEL=text-embedding-004
